---
import Post from "@/components/post.astro";
import { Card } from "@/components/ui/card";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<Layout>
	<div>
		{
			posts.map((post) => {
				return <Post post={post} />;
			})
		}
	</div>
</Layout>
