---
const { post } = Astro.props;
import { Card, CardContent } from "./ui/card";
---

<a href={`/blog/${post.id}/`}>
	<Card className="hover:shadow-lg transition-all my-4">
		<CardContent>
			<h1 class="text-xl font-bold">{post.data.title}</h1>
			<h2 class="text-md text-muted-foreground">{post.data.subtitle}</h2>
			<p class="text-sm mt-2 text-muted-foreground">Word Count: {post.data.length}</p>
		</CardContent>
	</Card>
</a>
